<a href="https://colab.research.google.com/github/FarhanFansuri/DS-bike-sales-in-europe/blob/main/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preprocessing

## Import Libraries

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

## Import Dataset

In [7]:
df = pd.read_csv('/content/Sales.csv')
x = df.iloc[:, :-1].values
y = df.iloc[:,-1].values

In [8]:
dummy = pd.read_csv('/content/dummy.csv')

In [10]:
dummy.isnull().sum()

Nama Lengkap     1
Usia             0
Kota             0
Email            0
Tanggal Lahir    1
Pekerjaan        0
Gaji             0
No. Telepon      1
dtype: int64

## Data Cleansing

### Missing Value